/****Colors****/

.blue-text {
  color: #428bca !important;
}

.blue-bg {
  background-color: #428bca !important;
}

.red-text {
  color: #E74C3C !important;
}

.red-bg {
  background-color: #E74C3C !important;
}

.dark-text {
  color: #2C3E50 !important;
}

.dark-bg {
  background-color: #2C3E50 !important;
}


/**************/


/****Cards****/

.card {
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}

.hover-card {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hover-card .hover-overlay {
  position: absolute;
  top: calc(100% - 8px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
}

.hover-card:hover .hover-overlay {
  opacity: 1;
  top: 0;
}

.hover-card .overlay-background {
  z-index: 5;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hover-card .overlay-content {
  color: #fff;
  font-size: 12pt;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}


/*************/


/***General***/

body {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  color: #2C3E50;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #428bca;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: #E74C3C;
}

.row {
  padding: 50px 0px;
  margin: 0;
}

.btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.btn-lg {
  border-radius: 25px;
}

.btn-common {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 0px;
}

/*.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 25px;
  position: relative;
  color: #fff;
}*/

.content-section {
  text-align: center;
}

#songs,
#gallery {
  background: #2C3E50;
  color: #fff;
}

#news,
#about,
#contribute {
  background: #EEEEEE;
}


/*************/


/****Navbar***/

.navbar {
  margin-bottom: 0;
  color: #fff;
}

.navbar li {
  color: #fff;
}

.navbar-default {
  border: none;
  border-radius: 0;
  background: transparent;
  padding-top: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}

.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav li:hover,
.navbar-default .navbar-nav li:focus {
  border-bottom: 3px solid #428bca;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 24pt;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .faviconPng {
  height: 25pt;
  width: 25pt;
  vertical-align: sub;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .navbar-brand:hover {
  color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
}

.affix.navbar-default {
  background: #2C3E50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-top: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.affix.navbar-default .navbar-brand {
  font-size: 16pt !important;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.affix.navbar-default .navbar-brand .faviconPng {
  height: 16pt;
  width: 16pt;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (max-width: 767px) {
  .navbar-default {
    background: #2C3E50;
    padding-top: 0px;
  }

  .navbar-default .navbar-nav>.active,
  .navbar-default .navbar-nav li:hover,
  .navbar-default .navbar-nav li:focus {
    border-bottom: none;
    border-left: 4px solid #428bca;
    font-weight: bold;
  }

  .navbar-default .navbar-brand {
    font-size: 16pt;
  }

  .navbar-default .faviconPng {
    height: 16pt;
    width: 16pt;
    vertical-align: text-bottom;
  }
}


/*************/


/**Hero area**/

#hero-area {
  background: #2C3E50;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 25px;
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

#hero-area img {
  max-width: 100%;
  margin-top: 125px;
}

#hero-area .row {
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  #hero-area img {
    display: none;
  }
  #hero-area .row {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

#hero-area .btn {
  margin-right: 20px;
}

#hero-area .title {
  font-size: 60pt;
  text-align: left;
  margin-bottom: 5px;
}

#hero-area .subtitle {
  font-size: 32pt;
  font-weight: 100;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#hero-area p {
  font-size: 14pt;
  font-weight: 100;
  padding: 25px 0;
}


/**************/


/*****News*****/

#news img {
  width: 100%;
}

#news h2,
#news h3 {
  margin-top: 0;
  margin-bottom: 25px;
}

#news .post-info {
  font-size: 12pt;
}

#news .more {
  margin: 24px 0 0 0;
}

#news .more .btn {
  border: 1px solid #428bca;
  color: #428bca;
}

#news .more .btn:hover {
  background: transparent;
  color: #E74C3C;
  border: 1px solid #E74C3C;
}

.news-card {
  padding: 0;
  margin: 10px 0px;
  border: 1px solid #2C3E50;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
}

.news-card-text {
  padding: 10px;
  color: white;
}

.news-card-text a {
  color: white;
}


/**************/


/***Download***/

#download .card {
  color: #fff;
  text-align: center;
}

#download .card h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

#download .card p {
  font-size: 14pt;
  margin-bottom: 10px;
}

#download .card .release-date {
  font-size: 11pt;
  margin-top: 10px;
  margin-bottom: 0px;
}

.dark-bg .release-date a {
  color: #428bca;
}

.red-bg .release-date a {
  color: #2C3E50;
}

.blue-bg .release-date a {
  color: #E74C3C;
}

.release-details {
  text-align: center;
}

.btnDownload {
  margin: 5px;
}

.btnDownloadIcon {
  padding-right: 5px;
}

.release-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .release-section {
    flex-direction: row;
  }
  #download .card {
    max-width: 27%;
    min-width: 27%;
  }
}

.flex-box-col {
  display: flex;
  flex-direction: column;
}

.flex-box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex00a {
  flex: 0 0 auto;
}

.flex11a {
  flex: 1 1 auto;
}

.flex11100 {
  flex: 1 1 100%;
}

.no-release-text {
  margin-top: 40px;
}


/**************/


/***Features***/

#about .card {
  height: 250px;
  background-color: #fff;
  margin: 0 0 30px 0;
  padding: 0;
  border: 1px solid #2C3E50;
}

#about .card img {
  z-index: 4;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#about .card .overlay-content p {
  padding: 0 15px;
}

#about .card .overlay-content h4 {
  font-size: 20pt;
  color: #2C3E50;
  padding: 0px;
  margin-top: -70px;
  margin-bottom: 70px;
  -webkit-transition: all 0.27s ease-in-out;
  -moz-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}

#about .card:hover .overlay-content h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  -webkit-transition: all 0.27s ease-in-out;
  -moz-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}


/**************/


/*****Help*****/

#help .card,
#contribute .card,
#songs .card {
  border: 1px solid #2C3E50;
  background-color: #fff;
  margin: 15px;
  padding: 15px 5px 15px 5px;
  min-height: 175px;
}

@media (min-width: 992px) {
  #help .card,
  #contribute .card,
  #songs .card {
    width: 29%;
    text-align: left;
  }
}

.help-text p,
.contribute-text p,
.song-text p {
  font-size: 12pt;
  padding-right: 10px;
}

.help-text h2,
.contribute-text h2,
.song-text h2 {
  margin-top: 0pt;
  margin-bottom: 15pt;
  font-size: 24pt;
  vertical-align: middle;
}

.hover-card .help-icon,
.hover-card .contribute-icon,
.hover-card .song-icon {
  font-size: 26pt;
  text-align: center;
}

.hover-overlay .help-icon,
.hover-overlay .contribute-icon,
.hover-overlay .song-icon {
  font-size: 45pt;
  margin: 15px;
}


/**************/


/*****Post*****/

.post {
  flex: 1;
}

.post .post-banner {
  width: 100%;
}

.post #gallery {
  background-color: transparent;
  color: #2C3E50;
}

.post-gallery {
  display: flex;
  flex-wrap: wrap;
}

.post-gallery a {
  width: 100%;
  max-width: 220px;
  margin: 4px;
}

.post-info {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 13pt;
}

.avatar {
  border-radius: 50%;
  position: relative;
  top: 3px;
  height: 18px !important;
  width: 18px !important;
  vertical-align: baseline;
}

.author-link {
  margin-left: 12px;
  margin-right: 20px;
}

.author-link:hover {
  text-decoration: none;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  color: white;
  border-radius: 13px;
}

.post-nav {
  display: block;
  width: auto;
  overflow: hidden;
}

.post-nav a {
  display: block;
  float: left;
  margin: 1em 0;
}

.post-nav .post-prev {
  text-align: right;
  float: right;
}

/**************/


/***Postlist***/

.post-list {
  margin-bottom: 40px;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

/**************/


/****Footer****/

.footer {
  background-color: #243342;
  color: white;
  /*border-top: 1px solid rgba(255,255,255,0.1);*/
  padding-top: 15px;
  padding-bottom: 5px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.footer li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}

.footer li i {
  font-size: 18pt;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #E74C3C;
  text-decoration: none;
}

.footer h3 {
  margin: 0;
  padding: 0;
}


/**************/
