/******COLORS******/
/* Blue * #428bca */
/* Red  * #E74C3C */
/* Dark * #2C3E50 */
/******************/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  color: #428bca;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  color: #E74C3C;
}

.row {
  padding: 50px 0px;
}

.btn {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-lg {
  border-radius: 25px;
}

.btn-common {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-common:hover {
  border-color: #428bca;
  color: #428bca;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 0px;
}

.subtitle {
  text-align: center;
  font-weight: 100;
  padding-bottom: 25px;
  position: relative;
  color: #fff;
}


/**Navigation**/

.navbar {
  margin-bottom: 0;
  color: #fff;
}

.navbar li {
  color: #fff;
}

.navbar-default {
  border: none;
  border-radius: 0;
  background: #2C3E50 !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  font-weight: 100;
}

.navbar-default .navbar-nav>.active,
.navbar-default .navbar-nav li:hover {
  border-bottom: 3px solid #428bca;
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 16pt;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .faviconPng {
  height: 16pt;
  width: 16pt;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-default .navbar-brand:hover {
  color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
}

.affix.navbar-default {
  background: #2C3E50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-top: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.affix.navbar-default .navbar-brand {
  font-size: 16pt !important;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.affix.navbar-default .navbar-brand .faviconPng {
  height: 16pt;
  width: 16pt;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media (min-width: 767px) {
  .navbar-default {
    padding-top: 30px;
  }
  .navbar-default .navbar-brand {
    font-size: 25px;
  }
  .navbar-default .faviconPng {
    height: 25pt;
    width: 25pt;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}


/**Hero area**/

#hero-area {
  background: #2C3E50;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 25px;
}

#hero-area img {
  max-width: 100%;
  margin-top: 25px;
}

#hero-area .row {
  padding-top: 150px;
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  #hero-area img {
    display: none;
  }
  #hero-area .row {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

#hero-area .btn {
  margin-right: 20px;
}

#hero-area .title {
  font-size: 60pt;
  text-align: left;
  margin-bottom: 5px;
}

#hero-area .subtitle {
  font-size: 32pt;
  font-weight: 100;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#hero-area p {
  font-size: 14pt;
  font-weight: 100;
  padding: 25px 0;
}

#services h3 {
  margin-top: 0;
  font-size: 28px;
  color: #2576E5;
}


/*Portfolio*/

#portfolio {
  background: #EEEEEE;
}


/*Portfolio Overlay */

.portfolio-item {
  position: relative;
  margin-bottom: 15px;
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.portfolio-item:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

.portfolio-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 40%;
  color: #fff;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.portfolio-item .icons .preview i {
  color: #2576E5;
}

#clients {
  background: #fff;
}

#about {
  background: #2C3E50;
  color: #fff;
}

#contact {
  background: #f1f1f1;
}

#contact ::-webkit-input-placeholder {
  color: #ecf0f1;
}

#contact :-moz-placeholder {
  color: #ecf0f1;
}

#contact ::-moz-placeholder {
  color: #ecf0f1;
}

#contact :-ms-input-placeholder {
  color: #ecf0f1;
}

#contact .social i {
  color: #fff;
  padding: 10px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: #34495e;
}

#contact .social .social-links a:hover {
  color: #fff;
}

#contact .social .fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}

#contact .social .fa-twitter:hover {
  background: #00CAFB;
  color: #fff;
}

#contact .social .fa-google-plus:hover {
  background: #D23A1D;
  color: #fff;
}

#contact .social .fa-linkedin:hover {
  background: #007bb6;
  color: #fff;
}

#contact .social .fa-dribbble:hover {
  background: #ea4c89;
  color: #fff;
}

#contact .social .fa-github:hover {
  background: #171515;
  color: #fff;
}

#contact .contact-info {
  margin: 40px 0;
}

#contact .contact-info p {
  font-size: 20px;
}

#contact .contact-form .form-control {
  box-shadow: none;
  font-size: 17px;
  margin-bottom: 20px;
  border-radius: 0;
  border: none;
}


/*Scroll Top*/

.to-top i {
  padding: 10px 15px;
  margin: 10px;
  background: transparent;
  color: #34495e;
  border: 2px solid #34495e;
}

.to-top i:hover {
  background: #34495e;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#copyright {
  background: #F1F1F1;
  color: #333;
}

#copyright a {
  color: #333;
}


/*Feature Section*/

.feature {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 250px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 7px;
}

.feature:hover .caption {
  opacity: 1;
  transform: translateY(-250px);
  -webkit-transform: translateY(-250px);
  -moz-transform: translateY(-250px);
  -ms-transform: translateY(-250px);
  -o-transform: translateY(-250px);
}

.feature img {
  z-index: 4;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.feature .caption {
  position: absolute;
  top: 242px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.feature .blur {
  background-color: #428bca;
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

.feature .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top: -20px;
  width: 100%;
  font-size: 12pt;
}

.feature .caption-text p {
  padding: 25px 15px;
  font-weight: 100;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.feature:hover .caption-text p {
  padding-top: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.feature .caption-text h4 {
  font-size: 20pt;
  color: #2C3E50;
  padding: 0px;
  margin-top: -40px;
  -webkit-transition: all 0.27s ease-in-out;
  -moz-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}

.feature:hover .caption-text h4 {
  margin-top: 40px;
  color: #fff;
  -webkit-transition: all 0.27s ease-in-out;
  -moz-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}

.contribute-icon {
  font-size: 65px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-section {
  text-align: center;
}


/*Download Section*/

#download,
#help {
  background: #EEEEEE;
}

.card {
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  color: #fff;
}

.card h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.card p {
  font-size: 14pt;
  margin-bottom: 10px;
  font-weight: 100;
}

.nightly {
  background-color: #2C3E50;
}

.nightly .release-date a {
  color: #428bca;
}

.pre-release {
  background-color: #E74C3C;
}

.pre-release .release-date a {
  color: #2C3E50;
}

.stable {
  background-color: #428bca;
}

.stable .release-date a {
  color: #E74C3C;
}

.release-details {
  text-align: center;
}

.card .release-date {
  font-size: 11pt;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btnDownload {
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.btnDownload:hover {
  background: rgba(0, 0, 0, 0.2);
}

.btnDownloadIcon {

  padding-right: 5px;
  /*font-size: 1em;*/
}

.release-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .release-section {
    flex-direction: row;
  }
  .card {
    max-width: 27%;
    min-width: 27%;
  }
}

.flex-box-col {
  display: flex;
  flex-direction: column;
}

.flex-box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex00a {
  flex: 0 0 auto;
}

.flex11a {
  flex: 1 1 auto;
}

.flex11100 {
  flex: 1 1 100%;
}

.no-release-text {
  margin-top: 40px;
}

.stamp {
  position: absolute;
  display: inline-block;
  color: red;
  padding: 15px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 10px red;
  transform: rotate(30deg);
  margin-top: 20%;
  margin-left: 20%;
  font-size: 25px;
  width: 65%;
}

.stamp:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/stamp.jpg");
  mix-blend-mode: lighten;
}
