@media (min-width: 768px) and (max-width: 1024px) {
  .nav>li>a {
    padding: 12px 8px;
    line-height: 21px;
  }
}

@media (max-width: 480px) {
  #hero-area .title {
    font-size: 54pt;
  }

  #hero-area .btn {
    margin-top: 15px;
  }
  .row {
    padding: 40px 0px;
  }
}
