<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vocaluxe.dependencies.netfwtypelib" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.securitycryptography" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.webserverinitalconfig.dependencies" version="1.0.0" targetFramework="net40" />
</packages>