obj
PitchTracker.dll
Thumbs.db
*.mp4
*.pdb
*.csproj.user
*.vcxproj.user
*.ipch
*.log
*.tlog
*.suo
*.obj
*.lastbuildstate
*.pch
*.idb
*.exp
*.ilk
*.lib
*.opensdf
*.sdf
*.codeanalysis*
*.nativecodeanalysis*
*.lastcodeanalysissucceeded
*.Cache
*.psess
*.vshost.*
*.userprefs
*.user
/*.vsp
/*.ctl
/Output/Config.xml
/Output/CoverDB.sqlite
/Output/HighscoreDB.sqlite
/Output/ClientServerLib.dll
/Output/Vocaluxe.exe*
/Output/Vocaluxe_x64.exe*
/Output/Vocaluxe.vshost.exe*
/Output/VocaluxeLib.dll
/Output/VocaluxeServerConfig.exe
/Output/VocaluxeServerConfig.exe.config
/Output/Photos
/Output/Screenshots
/Output/Website
/Output/Songs
/Output/Playlists/*.xml
/Output/Profiles/*.xml
/Output/PartyModes/*/Code/*
/PartyModes/*/*/*.dll
/VocaluxeLib/bin
/ServerLib/bin/ClientServerLib.dll
/Installer/setup-cache
/Installer/setup-SetupFiles
/Installer/vocaluxe-*-setup.exe
/Installer/Vocaluxe*.rar
/Installer/Prerequisites/GStreamer x64/gstreamer-1.0-x86_64-1.4.1.msi
/Installer/Prerequisites/GStreamer x86/gstreamer-1.0-x86-1.4.1.msi
/WebserverInitalConfig/bin
/PhoneGap/
/TestResults
/VocaluxeTests/bin
/Output/libs
/Output/Themes/*.mp4
/packages
/Output/x64
/Output/x86
