version: '{build}'
pull_requests:
  do_not_increment_build_number: true
os: Windows Server 2012 R2
configuration: ReleaseWin
platform:
- x64
- x86
clone_depth: 15
environment:
  GitHubKey:
    secure: JSlN/em0JdspVn8jwaQ4IjugY6OQi0au4Qq0rhctJmcfGMaEGnUAOmDFULI48REW
install:
- ps: |
    $Env:CurrentCommitSha = "$(git rev-parse --verify HEAD)"

    if((-not $Env:githubRepoApiUri) -or ($Env:APPVEYOR_ACCOUNT_NAME -eq "VocaluxeBuildBot")){
        $Env:githubRepoApiUri = "https://api.github.com/repos/Vocaluxe/Vocaluxe/"
    }

    Write-Host "GitHub api url: $Env:githubRepoApiUri"

    ./.appveyor/gitDescribe.ps1
    
    $Env:GIT_VERSION_TAG = $Env:VersionTag    
    Write-Host "GIT_VERSION_TAG: $Env:GIT_VERSION_TAG"

    if($Env:APPVEYOR_REPO_TAG -eq "true"){
        $Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK = $Env:APPVEYOR_REPO_TAG_NAME 
    }
    else{
        $Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK = $Env:APPVEYOR_REPO_BRANCH
    }    
before_build:
- ps: |
    Try
    {
        Start-FileDownload 'https://github.com/lukeIam/VocaluxeDependencies/blob/master/zips/themes/vocaluxe.themes.ambient.video.zip?raw=true'
        & 7z x '-aoa' '-oOutput/' './vocaluxe.themes.ambient.video.zip'
        Remove-Item './vocaluxe.themes.ambient.video.zip'
    }
    Catch
    {
        Write-Warning "Ambient-Video download failed"
    }
    nuget restore -DisableParallelProcessing

build:
  project: Vocaluxe.sln
  verbosity: normal
after_build:
- ps: |
    cd Output

    $Env:MAIN_REPO = $False

    if($Env:APPVEYOR_REPO_NAME -eq "Vocaluxe/Vocaluxe"){
        $Env:MAIN_REPO = $True
        Write-Host "Main repo Vocaluxe/Vocaluxe detected"
    }

    $forkBuildTag = ""
    if(($Env:MAIN_REPO -ne $True) -or ($Env:APPVEYOR_ACCOUNT_NAME -ne "VocaluxeBuildBot")){
        $forkBuildTag = "_non-official-by-$Env:APPVEYOR_ACCOUNT_NAME"
        Write-Host "Non official build detected: $Env:APPVEYOR_REPO_NAME by $Env:APPVEYOR_ACCOUNT_NAME"
    }

    7z a "Vocaluxe_$($Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK)_Windows_$($Env:PLATFORM)$forkBuildTag.zip" *

    appveyor PushArtifact "Vocaluxe_$($Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK)_Windows_$($Env:PLATFORM)$forkBuildTag.zip" -FileName "Vocaluxe_$($Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK)_Windows_$($Env:PLATFORM)$forkBuildTag.zip" -DeploymentName ReleaseZip

    cd ..
    
    Write-Host "Created artifact: Vocaluxe_$($Env:TAG_NAME_WITH_BRANCH_NAME_FALLBACK)_Windows_$($Env:PLATFORM)$forkBuildTag.zip"
    
    if($Env:MAIN_REPO -eq $True){
        .\.appveyor\nightlyDetect.ps1
        .\.appveyor\moveTagForSpecialBranches.ps1
    }
test: off
before_deploy:
- ps: ./.appveyor/prepareDeploy.ps1
after_deploy:
- ps: ./.appveyor/afterDeploy.ps1
deploy:
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: $(APPVEYOR_REPO_TAG_NAME)
  description: 
  auth_token:
    secure: JSlN/em0JdspVn8jwaQ4IjugY6OQi0au4Qq0rhctJmcfGMaEGnUAOmDFULI48REW
  artifact: ReleaseZip
  prerelease: $(IS_BETA_RELEASE)
  on:
    APPVEYOR_REPO_TAG: true
    NIGHTLY_BUILD: false
    MAIN_REPO: true
- provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: Latest Nightly build
  description: $(APPVEYOR_REPO_COMMIT)
  auth_token:
    secure: JSlN/em0JdspVn8jwaQ4IjugY6OQi0au4Qq0rhctJmcfGMaEGnUAOmDFULI48REW
  artifact: ReleaseZip
  prerelease: true
  on:
    APPVEYOR_REPO_TAG: true
    NIGHTLY_BUILD: true
    MAIN_REPO: true