<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="vocaluxe.dependencies" version="1.0.4" targetFramework="net40" />
  <package id="vocaluxe.dependencies.acinerella" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.aforgevideo" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.csharpsqlite" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.ffmpeg" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.gstreamer" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.gstreamersharp" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.hidapi" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.opentk" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.pitchtracker" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.portaudiosharp" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.qrcoder" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.slimdx" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.dependencies.sqlite" version="1.0.1" targetFramework="net40" />
  <package id="vocaluxe.themes.ambient" version="1.0.0" targetFramework="net40" />
</packages>