<#
// This file is part of Vocaluxe.
// 
// Vocaluxe is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Vocaluxe is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with Vocaluxe. If not, see <http://www.gnu.org/licenses/>.
#>
<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
#region license
// This file is part of Vocaluxe.
// 
// Vocaluxe is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// Vocaluxe is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with Vocaluxe. If not, see <http://www.gnu.org/licenses/>.
#endregion

using System;
using System.IO;
using NUnit.Framework;
using VocaluxeLib.Log;

namespace Tests.VocaluxeLib.Log
{
    [TestFixture]
    public class CLogTest
    {
        private const string _TestMessage = "This is a test";
        private const string _TestMessageWithData = "This is a test with data: {Data1}";
        private const string _FirstParam = "Test";
        private const string _SecondParam = "Foo";
        private const string _TestMessageWithResolvedData = "This is a test with data: \"Test\"";
        private const string _TestExceptionMessage = "TestExceptionMessage";
        private string _TestFolder;

        #region Setup methods

        [SetUp]
        public void SetUp()
        {
            _TestFolder = _GetTemporaryDirectory();
        }

        [TearDown]
        public void TearDown()
        {
            Directory.Delete(_TestFolder, true);
        }

        #endregion

        #region Tests
        
<#  foreach (var LogLevel in new[]{"Verbose","Debug", "Information", "Warning", "Error"/*, "Fatal"*/}) { /* Fatal calls Environment.Exit -> cant test without mock*/ #>
        #region <#= LogLevel #> tests
<#  foreach (var WithData in new[] {true, false}) { #>
<#  foreach (var WithException in new[] {true, false}) { #>

        [Test]
        public void <#= LogLevel #>Test<#= WithData?"With":"Without" #>Data<#= WithException?"With":"Without" #>Exception([Values(true, false)] bool show)
        {
            string testFileName = Path.GetRandomFileName();
            string testFileSongName = Path.GetRandomFileName();
            string testFileMarkerName = Path.GetRandomFileName();
            string versionTag = "Test Version (1.2.4)";
            bool messageShown = false;

            // Init Log
            CLog.Init(_TestFolder, testFileName, testFileSongName, testFileMarkerName, versionTag,
                (crash, cont, tag, log, error) =>
            {
                messageShown = true;
                Assert.IsTrue(show);
                Assert.IsFalse(crash);
                Assert.IsTrue(cont);
                Assert.AreEqual(versionTag, tag);

                StringAssert.Contains("[Information] Starting to log", log, "Main log start entry wrong");
                StringAssert.Contains("Version = " + versionTag, log, "Main log version tag entry wrong");
                StringAssert.Contains("[<#= LogLevel #>] " + <#= WithData?"_TestMessageWithResolvedData":"_TestMessage" #>, log, "Main log entry wrong");

                StringAssert.Contains(<#= WithData?"_TestMessageWithData":"_TestMessage" #>, error, "Error message wrong");
            },
            ELogLevel.Verbose);

            // Add log entry
            CLog.<#= LogLevel #>(<#= WithException?"new Exception(_TestExceptionMessage), ":"" #><#= WithData?"_TestMessageWithData":"_TestMessage" #><#= WithData?", CLog.Params(_FirstParam, _SecondParam)":"" #>, show);
<# if(LogLevel!="Fatal") { #>
            CLog.CSongLog.<#= LogLevel #>(<#= WithData?"_TestMessageWithData":"_TestMessage" #><#= WithData?", CLog.Params(_FirstParam, _SecondParam)":"" #>);
<# } #>

            // Close logfile
            CLog.Close();

            // Check log
            Assert.IsTrue(File.Exists(Path.Combine(_TestFolder, testFileName)), "Mainlog file is missing.");
            Assert.IsTrue(File.Exists(Path.Combine(_TestFolder, testFileSongName)), "Songlog file is missing.");

            string mainLogContent = File.ReadAllText(Path.Combine(_TestFolder, testFileName));
            string songLogContent = File.ReadAllText(Path.Combine(_TestFolder, testFileSongName));

            StringAssert.Contains("[Information] Starting to log", mainLogContent, "Main log start entry wrong");
            StringAssert.Contains("Version = " + versionTag, mainLogContent, "Main log version tag entry wrong");
            StringAssert.Contains("[<#= LogLevel #>] " +<#= WithData?"_TestMessageWithResolvedData":"_TestMessage" #>, mainLogContent, "Main log entry wrong");
<# if(WithException) { #>
            StringAssert.Contains(_TestExceptionMessage, mainLogContent, "Exception is missing");
<# } #>
<# if(WithData) { #>
            StringAssert.Contains(_SecondParam, mainLogContent, "Second data field is missing");
<# } #>
<# if(LogLevel!="Fatal") { #>
            StringAssert.Contains(<#= WithData?"_TestMessageWithResolvedData":"_TestMessage" #>, songLogContent, "Song log entry wrong");
<# } #>
            if(!show)
            {
                Assert.IsFalse(messageShown);
            }
        }
<# } #>
<# } #>

        #endregion
<# } #>

        #endregion

        #region Helper methods

        private string _GetTemporaryDirectory()
        {
            string tempDirectory = Path.Combine(Path.GetTempPath(), Path.GetRandomFileName());
            Directory.CreateDirectory(tempDirectory);
            return tempDirectory;
        }

        #endregion

    }
}
