<!-- Contribute Section -->
    <section id="{{ page.section-type }}" class="content-section">
		<div class="container">
			<div class="row">
			<h1 class="title">{{ page.title }}</h1>
			{{ page.content | markdownify }}
			{% for contribute in site.data.contribute %}
				<div class="col-md-4">
					<h2>{{ contribute.title }}</h2>
					<span class="contribute-icon fa fa-{{ contribute.icon }}" aria-hidden="true"></span>
					<p>{{ contribute.description }}</p>
					<p><a class="btn" href="{{ contribute.url }}">{{ contribute.url_text }}</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
    </section>
<!-- Contribute Section End -->
