<!-- Contribute Section -->
    <section id="{{ page.section-type }}" class="content-section">
        <div class="container">
            <div class="row">
                <h1 class="title">{{ page.title }}</h1>
                {{ page.content | markdownify }}
                <div class="flex-box-row">
                    {% for contribute in site.data.contribute %}
                        <div class="col-md-4 flex-box-col card hover-card dark-text">
                          <div class="flex-box-row">
                            <div class="col-md-3 flex-box-col">
                              <span class="contribute-icon fa fa-{{ contribute.icon }} flex00a" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-9 flex-box-col contribute-text">
                              <h2 class="flex00a">{{ contribute.title }}</h2>
                              <p class="flex11100">{{ contribute.description }}</p>
                            </div>
                          </div>
                          <div class="hover-overlay blue-bg">
                            <div class="overlay-background">
                              <div class="overlay-content">
                                <p><span class="contribute-icon fa fa-{{ contribute.icon }} flex00a" aria-hidden="true"></span></p>
                                <p><a href="{{ contribute.url }}" class="btn btn-primary btn-lg">{{ contribute.url_text }}</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<!-- Contribute Section End -->
