<!-- Download Section -->
    <section id="{{ page.section-type }}">
		<div class="container">
			<div class="row">
			<h1 class="title">{{ page.title }}</h1>
			<p style="text-align:center">{{ page.content | markdonify }}</p>
			{% for contribute in site.data.contribute %}
				<div class="col-md-4" style="text-align:center">
					<h2>{{ contribute.title }}</h2>
					<span class="contribute-icon glyphicon glyphicon-{{ contribute.icon }}" aria-hidden="true" style="font-size:50px"></span>
					<p>{{ contribute.description }}</p>
					<p><a class="btn" href="{{ contribute.url }}">{{ contribute.url_text }}</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
    </section>
<!-- Download Section End -->
