<!-- Contribute Section -->
<section id="{{ page.section-type }}">
  <div class="container">
    <div class="row">
      <h1 class="title">{{ page.title }}</h1>
      <div class="gallery autoplay items-3 img-responsive">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>

        <figure class="item col-lg-12">
          <img src="{{site.baseurl}}/img/screenshot_sing.png" class="img-responsive" />
        </figure>

        <figure class="item col-lg-12">
          <img src="{{site.baseurl}}/img/posts/release-01.png" class="img-responsive" />
        </figure>

        <figure class="item col-lg-12">
          <img src="{{site.baseurl}}/img/screenshot_sing.png" class="img-responsive" />
        </figure>

        <div class="controls">
          <a href="#item-1" class="control-button">•</a>
          <a href="#item-2" class="control-button">•</a>
          <a href="#item-3" class="control-button">•</a>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Contribute Section End -->
