<!-- Hero Area Section -->

<section id="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title">Corporal - Bootstrap Theme</h1>
				<h2 class="subtitle">Start your Business or Personal site right now!</h2>

				<img class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft" src="img/screenshot_sing.png" alt="">

				<div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
				<p>{{ site.description }}</p>
				<a href="#download" class="btn btn-common btn-lg">Download Now!</a>
				<a href="#about" class="btn btn-primary btn-lg">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Hero Area Section End-->
