<!-- Hero Area Section -->

<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-xs-12 animated fadeInLeft delay-0-5 hero-text">
          <h1 class="title">{{site.title}}</h1>
          <h2 class="subtitle">{{site.subtitle}}</h2>
          <p>{{ site.full-description }}</p>
          <a href="#download" class="btn btn-primary btn-lg blue-bg">Download Now!</a>
          <a href="#about" class="btn btn-common btn-lg">Learn More</a>
        </div>
        <img class="col-md-6 col-xs-12 animated fadeInRight" src="{{site.baseurl}}/img/notes.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Hero Area Section End-->
