<!-- Songs Section -->
    <section id="{{ page.section-type }}" class="content-section">
        <div class="container">
            <div class="row">
                <h1 class="title">{{ page.title }}</h1>                
                {{ page.content | markdownify }}
                <div class="flex-box-row">
                    {% for song in site.data.songs %}                        
                        <div class="col-md-6 flex-box-col" >
                            <h2 class="flex00a">{{ song.title }}</h2>
                            <span class="contribute-icon fa fa-{{ song.icon }} flex00a" aria-hidden="true"></span>
                            <p class="flex11100">{{ song.description }}</p>
                            <p><a class="btn flex00a" href="{{ song.url }}">{{ song.url_text }}</a></p>
                            {% if song.title=='Download' %}
                                <h1 class="stamp">CURRENTLY OFFLINE</h1>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
<!-- Songs Section End -->
