<!-- Songs Section -->
    <section id="{{ page.section-type }}" class="content-section">
		<div class="container">
			<div class="row">
			<h1 class="title">{{ page.title }}</h1>
			{{ page.content | markdownify }}
			{% for song in site.data.songs %}
				<div class="col-md-6">
					<h2>{{ song.title }}</h2>
					<span class="contribute-icon fa fa-{{ song.icon }}" aria-hidden="true"></span>
					<p>{{ song.description }}</p>
					<p><a class="btn" href="{{ song.url }}">{{ song.url_text }}</a></p>
				</div>
			{% endfor %}
			</div>
		</div>
    </section>
<!-- Songs Section End -->
