#playerAvatar {
    height: 75%;
    max-height: 250px;
    width: auto;
}

#playerName {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#displayProfileContent {
    text-align: center;
}

#keyboardContent {
    text-align: center;
}

.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.ui-loader-background {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    z-index: 100;
}

.ui-loading .ui-loader-background {
    display: block;
}

#displaySongCover {
    height: 75%;
    max-height: 250px;
    width: auto;
}

#displaySongContent {
    text-align: center;
}

#displaySongContent span {
    font-size: 18px;
    font-weight: bold;
}

.imageLoaderImg {
    height:45px;
    width:45px;
    background: url(images/ajax-loader.gif);
    background-size: 46px 46px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
}