<!-- Post Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body data-spy="scroll" data-offset="20" data-target="#navbar">

  {% include navigation.html %}

  <section class="{{ page.section-type }}">
    <div class="container">
      <div class="row">
        <br />
        <h1 class="">{{page.title}}</h1>
        <div class="post-info">
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date_to_long_string }}
          <a href="https://github.com/{{ page.author }}" class="author-link">
            <img class="avatar" src="https://github.com/{{ page.author }}.png?size=18" alt="{{ page.author }}">
            {{ page.author }}
          </a>
          {% for tag in page.tags %}
          <div class="chip blue-bg">
            {{ tag }}
          </div>
          {% endfor %}
        </div>
        {{ page.content | markdownify }}
      </div>
    </div>
  </section>

  {% include footer.html %}

  {% include js.html %}

</body>

</html>

<!-- Post Layout End -->
